<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.com"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="template"
        lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Datte Store</title>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/5.3.3/css/bootstrap.min.css"/>
    <script src="webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>

    <style>
        .card-img-top {
            width: 100%; /* Pour que toutes les images aient la même largeur */
            height: 200px; /* Hauteur fixe pour toutes les images (ajustez selon vos besoins) */
            object-fit: cover; /* Redimensionne les images pour qu'elles remplissent entièrement l'espace sans déformation */
        }

        .card {
            max-width: 300px; /* Largeur maximale de la carte (ajustez selon vos besoins) */
        }

    </style>
</head>
<body>
<div layout:fragment="content">
        <div  class="card-header">List des Dattes</div>
        <div class="card-body">
            <div class="d-flex justify-content-center">
                <form method="get" th:action="@{/indexpage}">
                    <input type="text" name="search" th:value="${keyword}"/>
                    <button class="btn btn-primary" type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                        </svg>
                    </button>
                </form>
            </div>
            <div class="row">
                <div th:each="p : ${list}" class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" th:src="@{|image/${p.image}|}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${p.nom}">Nom du produit</h5>
                            <p class="card-text" th:text="${p.description}">Description du produit</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a th:href="@{ajouterpayment}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-currency-dollar" viewBox="0 0 16 16">
                                            <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73z"/>
                                        </svg>
                                    </a>
                                </div>
                                <small class="text-muted" th:text="${p.prix}">Prix</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




</div>
</body>
</html>